html {
	scroll-behavior: smooth;
}

body {
	margin-bottom: 10px;
	background-color: #485ECC;
}

.container {
	padding-top: 15px;

}

.form-control {
	height: 40px;

}

/* dogliro */

#doguinho {
	background-color: #E5AD08;
	border-radius: 8px 8px 0 0;
	padding: 0;

}

@media (min-width: 576px) {
	#doguinho {
		background-color: #E5AD08;
		border-radius: 8px 0 0 8px;
		border-left: none;
		height: 665px;

	}
}

@media (min-width: 768px) and (max-width: 1200px) {
	#doguinho {
		background-color: #E5AD08;
		height: 970px;
	}
}

#dog {
	height: auto;
	max-width: 100%;
	margin: 0e;
}

@media (min-width: 576px) {
	#dog {
		position: absolute;
		right: 0;
		bottom: 0;
	}
}

/* formulario */

#form {
	background-color: #ffffff;
	padding: 18px;
	border-radius: 0 0 8px 8px;
}

@media (min-width: 576px) {
	#form {
		background-color: #ffffff;
		padding: 40px;
		border-radius: 0 8px 8px 0;
	}
}

@media (min-width: 768px) and (max-width: 1200px) {
	#form {
		height: 970px;
		padding: 160px 40px;
		
	}
}


.form-control {
	border-radius: 25px;
	font-size: 15px;
}

.form-control-lg {
	height: 45px;
}

#button0 {
	border-radius: 25px;
	height: 45px;
}

#button1 {
	border-radius: 25px;
	background-color: #FE2E2E;
	border-color: #FE2E2E;
	height: 45px;
	margin: 20px 0;
}

#button2 {
	border-radius: 25px;
	background-color: #013ADF;
	border-color: #013ADF;
	height: 45px;
	margin: 10px 0;
}

#question {
	font-size: 15px;
	line-height: 10px;
	text-align: center;

}

#teste {
	display: block;
	margin: 20px;
	text-align: center;
	color: white;
	font-size: 12px;
}

@media (min-width: 576px) {
	#teste {
		display: none;
	}
}

#titulo {
	text-align: center;
	font-size: 26px;
	padding: 10px 0 15px 0;

}